// TMDB API tokens  ·  ⚠️ Never commit this file
//Secrets.xcconfig is committed to the repo intentionally so reviewers can clone, build, and run immediately without any extra setup. In a real project this file would be gitignored and generated via make keys.
// TODO: - Remove it from git, generated via make keys

TMDB_ACCESS_TOKEN_DEV     = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4MmRiYzk5MWNhZWI0MzJiOGY1NTg5MDE5NDNmZTRmMSIsIm5iZiI6MTUzMDMyMDI3OC40MjksInN1YiI6IjViMzZkNTk2YzNhMzY4NTMwZTAzNjM2NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.O5D_fHutaB-h6wrorTQ4pOUrlgiJpaZn4fAxbEV_sg8
TMDB_ACCESS_TOKEN_STAGING = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4MmRiYzk5MWNhZWI0MzJiOGY1NTg5MDE5NDNmZTRmMSIsIm5iZiI6MTUzMDMyMDI3OC40MjksInN1YiI6IjViMzZkNTk2YzNhMzY4NTMwZTAzNjM2NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.O5D_fHutaB-h6wrorTQ4pOUrlgiJpaZn4fAxbEV_sg8
TMDB_ACCESS_TOKEN_PROD    = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4MmRiYzk5MWNhZWI0MzJiOGY1NTg5MDE5NDNmZTRmMSIsIm5iZiI6MTUzMDMyMDI3OC40MjksInN1YiI6IjViMzZkNTk2YzNhMzY4NTMwZTAzNjM2NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.O5D_fHutaB-h6wrorTQ4pOUrlgiJpaZn4fAxbEV_sg8
